/* FONTS */
@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Italic.woff2') format('woff2'),
      url('../font/PTSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-BoldItalic.woff2') format('woff2'),
      url('../font/PTSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Bold.woff2') format('woff2'),
      url('../font/PTSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Regular.woff2') format('woff2'),
      url('../font/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
