// COLORS
$color-primary: #1f1e1e;
$color-hovered: rgb(63, 63, 63);
$color-secondary: #0f0f0f;
$color-card: #191b1c;
$color-modal: rgba(31, 30, 30, 0.8);
// FONTS
$font-stack: 'PT Sans', "Arial", sans-serif;
