.header-navigation {
  position: relative;
  z-index: 1;
  background-color: $color-secondary;
}

.header-navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation__logo-link {
  flex-shrink: 0;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-navigation__logo {
  display: block;
}

.header-navigation__links-toggle {
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-navigation__links {
  display: flex;
  align-items: center;
}

.header-navigation__links-search {
  width: 22px;
  height: 22px;
  margin-left: 122px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon/search-icon.svg);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@include breakpoint-down(700px) {

  .header-navigation__links-search {
    margin-left: 60px;
  }

}

@include breakpoint-down(550px) {

  .header-navigation__links-search {
    margin-left: 20px;
  }

  .header-navigation__logo {
    width: 80px;
  }

}

@include breakpoint-down(445px) {

  .header-navigation__links-search {
    margin-left: 10px;
  }

  .header-navigation__logo {
    width: 80px;
  }

}

  @include breakpoint-down(440px) {

  .header-navigation {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header-navigation__nav {
    display: none;
  }

  .header-navigation__nav--active {
    display: block;
  }

  .header-navigation__links-search {
    margin-left: 0;
    margin-right: 30px;
  }

  .header-navigation__links-toggle {
    display: block;
  }

}
