.search-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  // -webkit-animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) alternate-reverse both;
  // animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) alternate-reverse both;
}

.search-modal--open {
  display: block;
}

.search-modal__content {
  width: 100%;
  max-width: 700px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: $color-hovered;
}

.search-modal__form {
  flex-grow: 1;
}

.search-modal__inputs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-modal__input-wrapper {
  display: flex;
  flex-direction: column;
}

.search-modal__selects-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.search-modal__input {
  width: 185px;
  padding: 5px;
  border: none;
  background-color: #d3d3d3;
}


.search-modal__submit {  
  display: block;
  margin: 0 auto;
  padding: 6px;
  border: none;
  border-radius: 3px;
}

@include breakpoint-down(650px) {

  .search-modal {
    max-width: 400px;
  }

  .search-modal__inputs-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .search-modal__selects-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .search-modal__input {
    width: 220px;
    margin-bottom: 5px;
  }

}

@include breakpoint-down(650px) {

  .search-modal {
    max-width: 90%;
  }

}

// ANIMATION
@-webkit-keyframes slide-out-blurred-top {

  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }

}

@keyframes slide-out-blurred-top {

  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }

}
