.site-hero {
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: url(../img/books-mountain2.jpg);
  background-repeat: no-repeat;
  background-position: right center; 
  background-attachment: fixed;
  backface-visibility: hidden;
}

.site-hero__container {
  text-align: center;
}

.site-hero__text {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 730px;
}

.site-hero__link {
  display: inline-block;
  margin-top: 24px;
  padding: 8px 12px;
  border: 2px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  &:hover {
    color: rgb(68, 68, 68);
    background-color: #fff;
    transition: color 0.3s ease,
    background-color 0.3s ease;
  }

  &:active {
    opacity: 0.6;
  }
}

@include breakpoint-down(650px) {

  .site-hero {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  .site-hero__text {
    margin-top: 50px;
  }

}

@include breakpoint-down(425px) {

  .site-hero {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .site-hero__logo {
    width: 120px;
    height: 120px;
  }

  .site-hero__text {
    margin-top: 20px;
    font-size: 13px;
  }

  .site-hero__link {
    font-size: 12px;
  }

}

@include breakpoint-down(370px) {

  .site-hero {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .site-hero__text {
    margin-top: 30px;
  }

}
